<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
    <system.web>
        <customErrors mode="Off" />
        <compilation defaultLanguage="c#" />
    </system.web>
</configuration>